<!-- 328/diner/views/orderForm2.html -->

<include href="views/header.html" />

<body>
<div class="container">
    <h1>The Diner:  Order Form Part 2</h1>

    <form action="#" method="post" class="form-horizontal">

        <!-- get condiments -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Select condiments</label>
            <div class="col-sm-4">
                <label><input type="checkbox"
                              name="conds[]"
                              value="ketchup"> ketchup</label><br>
                <label><input type="checkbox"
                              name="conds[]"
                              value="mustard"> mustard</label><br>
                <label><input type="checkbox"
                              name="conds[]"
                              value="sriracha"> sriracha</label><br>
            </div>
        </div>

        <div class="col-xs-3 ">
            <input class="form-control btn btn-default"
                   type="submit" value="Place Order">
        </div>
    </form>
</div>
</body>
</html>