<!-- 328/diner/views/orderForm2.html -->

<include href="views/header.html"></include>
<body>
<div class="container">
    <h1>The Diner:  Order Form Part 2</h1>

    <form action="#" method="post" class="form-horizontal">

        <!-- get condiments -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Select condiments</label>
            <div class="col-sm-4">
                <repeat group="{{ @condiments }}" value="{{ @condiment }}">
                    <label><input type="checkbox"
                                  name="conds[]"
                                  value="{{ @condiment }}"
                        <check if="{{ in_array(@condiment, @userConds) }}">
                            checked="checked"
                        </check>
                        > {{ @condiment }}</label><br>
                </repeat>
            </div>
            <check if="{{ isset(@errors['conds']) }}">
                <span class="err">{{ @errors['conds'] }}</span>
            </check>
        </div>

        <div class="col-xs-3 ">
            <input class="form-control btn btn-default"
                   type="submit" value="Place Order">
        </div>
    </form>
</div>
</body>
</html>